:root {
  --white-color: #fff;
  --black-color: #000;
  --primary-text-color: #333;
  --navbar-hover-color: #555;
  --secondary-text-color: #a9a9a9;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary-text-color);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#hamburger {
  display: none;
  cursor: pointer;
  margin-right: 10rem;
}


#navbar,
#navbar-progress,
#navbar-gallery {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  padding: 20px 50px;
  color: var(--primary-text-color);
}

#logo,
#logo-progress {
  margin-left: 10rem;
  font-size: 1.2rem !important;
  font-weight: bold;
  color: var(--white-color);
  text-decoration: none;
  display: inline-block;
}

#navbar ul,
#navbar-gallery ul,
#navbar-progress ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
  margin-right: 10rem;
}

#navbar li,
#navbar-gallery li,
#navbar-progress li {
  display: inline;
}

#navbar a,
#navbar-gallery a,
#navbar-progress a {
  color: var(--white-color);
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 600;
  transition: color 0.3s ease;
}

#fullscreen-image,
#fullscreen-progress-image {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../assets/hero_image.jpg") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  text-align: center;
  overflow: hidden;
}

#fullscreen-progress-image {
  background: url("../assets/hero_progress_image.jpg") no-repeat center
    center/cover;
}

#fullscreen-image::before,
#fullscreen-progress-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#fullscreen-content,
#fullscreen-progress-content {
  position: relative;
  z-index: 2;
  color: var(--white-color);
}

#fullscreen-title,
#fullscreen-progress-title {
  text-align: justify;
  text-justify: inter-word;
  font-size: 2rem;
  font-weight: 750;
  color: var(--white-color);
  margin-bottom: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

#fullscreen-text,
#fullscreen-progress-text {
  font-size: 1.2rem;
  font-weight: 250;
  line-height: 1.8;
  color: var(--white-color);
  margin: 0 auto;
  max-width: 800px;
}

#scroll-arrow,
#scroll-progress-arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  color: var(--white-color);
  text-decoration: none;
  z-index: 3;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

#scroll-arrow:hover,
#scroll-progress-arrow:hover {
  transform: translate(-50%, 10px);
}

#header-gallery {
  position: relative;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-text-color);
  text-align: center;
  overflow: hidden;
}

#about-us {
  text-align: center;
  padding: 50px 20px;
  margin: 40px auto;
  max-width: 900px;
}

#about-us-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-text-color);
  margin-bottom: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#about-us-text {
  font-size: 1.3rem;
  line-height: 1.8;
  color: var(--primary-text-color);
  margin: 0 auto;
  max-width: 800px;
  font-weight: 400;
}

#destinations {
  padding: 0;
  min-height: 15rem;
  overflow: hidden;
  position: relative;
}

.gallery {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(20, 400px);
  grid-template-rows: 1fr;
  grid-column-gap: 1rem;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: hidden;
  height: auto;
  scroll-snap-type: x mandatory;
  scroll-padding: 1rem;
  box-sizing: border-box;
}

.gallery::-webkit-scrollbar {
  display: none;
}

.gallery li {
  list-style: none;
}

.gallery img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 3px;
}

.gallery img:hover {
  cursor: pointer;
}

.active {
  scroll-snap-type: unset;
}

#project-description {
  padding: 0 20px;
  margin: 5rem 4rem;
  min-height: 50vh;
}

.project-title,
#box-title {
  text-align: left;
  font-size: 1.7rem;
  margin-bottom: 1rem;
  color: var(--primary-text-color);
}

#project-text,
#box-text {
  font-size: 1.2rem;
  line-height: 1.8;
  color: var(--primary-text-color);
  margin: 0 auto 20px auto;
  font-weight: 400;
  text-align: left;
}

#project-description table {
  border-collapse: collapse;
  overflow-x: auto;
  margin-top: 20px;
  width: 95%;
}

#project-description table td,
th {
  border: 1px solid #e5e5e5;
  padding: 15px;
  font-weight: normal;
  text-align: center;
  overflow-x: auto;
}

.image-grid {
  padding: 5px;
  margin: 3rem 0 3rem 0;
}

.image-row {
  display: flex;
}

.image-row .image {
  margin: 5px;
  height: 240px;
}

.image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.image-01,
.image-03,
.image-05,
.image-07,
.image-09,
.image-11 {
  background-image: url("../assets/hero_image.jpg");
  flex: 1;
}

.image-02,
.image-04,
.image-06,
.image-08,
.image-10,
.image-12 {
  background-image: url("../assets/hero_progress_image.jpg");
  flex: 1;
}

@media screen and (max-width: 400px) {
  .image-row {
    flex-direction: column;
  }

  .image-row .image {
    flex-basis: auto;
  }
}

#expectations-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 20px;
  margin: 10rem 4rem;
  min-height: 60vh;
}

.section-header {
  text-align: left;
  font-size: 1.7rem;
  margin-bottom: 2rem;

}

.expectations-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.expectations {
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 300px;
  max-width: 100%;
}

.expectations-name {
  font-size: 1.1rem;
}

.expectations-quote {
  margin-left: -0.1rem;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--primary-text-color);
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  border-left: 3px solid var(--navbar-hover-color);
}

.expectations-separator {
  border: none;
  height: 1px;
  background-color: #eee;
  margin: 2rem auto;
  width: 50%;
}

#info-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10rem 4rem;
  min-height: 40vh;
  border-radius: 10px;
  padding: 20px;
  gap: 20px;
}

#info-box #box-left {
  flex: 1;
  text-align: left;
  max-width: 40%;
}

#info-box #box-right {
  flex: 1;
  padding: 20px;
  max-width: 60%;
  display: flex;
}

#info-box img {
  flex: 1;
  max-width: 80%;
  border-radius: 10px;
  object-fit: cover;
  margin-left: 5rem;
}

#info-box .box-button {
  display: inline-block;
  padding: 12px 25px;
  color: var(--primary-text-color);
  border: 0.5px solid var(--primary-text-color);
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.box-button.left {
  margin-left: 1rem;
}

#info-box .box-button:hover {
  color: var(--primary-text-color);
  border: 0.5px solid var(--primary-text-color);
  transform: scale(1.05);
}

footer {
  padding: 0 60px;
  margin: 5rem 0 0 0;
}

.footer-authors,
.footer-links {
  flex-direction: column;
}

.authors,
.footer-link {
  color: var(--primary-text-color);
  font-weight: 400;
  text-decoration: none;
}

.footer-partners {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.footer-logo {
  height: 10rem;
}

.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-informacja,
.footer-numer {
  color: var(--secondary-text-color);
  font-size: 0.9rem;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  /* Responsive styles for smaller screens (phones) Index.html*/
  #hamburger {
    display: block;
    margin-right: 3rem;
  }

  #logo{
    margin-left: 3rem;
  }


  #navbar ul,
  #navbar-gallery ul,
  #navbar-progress ul {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    padding: 20px;
    display: none;
  }

  #navbar li,
  #navbar-gallery li,
  #navbar-progress li {
    margin-bottom: 10px;
  }

  #navbar ul.show,
  #navbar-gallery ul.show,
  #navbar-progress ul.show {
    display: flex;
  }


  #fullscreen-image {
    min-height: 20rem;
  }

  #fullscreen-title {
    font-size: 1em;
    text-align: center;
    margin: 0px 5px;
  }

  #fullscreen-text {
    font-size: 1.1rem;
    margin: 10px;
    padding: 0.5rem;
  }

  #fullscreen-image {
    height: 100vh;
  }
  #about-us {
    margin: 0.5rem;
  }
  #about-us-text {
    text-align: left;
  }
  #about-us-title {
    font-size: 1.5rem;
    text-align: left;
  }
  #project-description {
    margin: 0.5rem;
  }
  #info-box {
    flex-direction: column-reverse;
    margin: 1.5rem;
    align-items: start;
    padding: 0;
  }
  #info-box #box-left {
    max-width: 100%;
  }
  #info-box #box-right {
    max-width: 100%;
  }
  .box-button.left {
    margin: 1rem 0 0 0;
  }
  #info-box img {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  #info-box #box-right {
    padding: 0;
    margin: 5rem 0 0 0;
  }
  #expectations-container {
    margin: 5rem 0 5rem 0.5rem;
  }
  footer {
    padding: 0;
  }
  .footer-partners {
    flex-direction: column;
    align-items: center;
  }
  .footer-top {
    flex-direction: column;
  }
  .footer-authors,
  .footer-links {
    align-items: center;
    display: flex;
  }
  .footer-bottom {
    padding: 2rem;
    flex-direction: column;
    text-align: center;
  }
  /* Responsive styles for smaller screens (phones) progress.html*/
  #navbar-progress {
    display: none;
  }
  #fullscreen-progress-image {
    min-height: 20rem;
  }

  #fullscreen-progress-title {
    font-size: 1.5rem;
    text-align: center;
    margin: 0 10px;
  }
  #fullscreen-progress-text {
    font-size: 1rem;
    margin: 10px;
    padding: 0.5rem;
  }

  #project-description {
    margin: 5rem 0.5rem 5rem 0.5rem;
  }

  #progress-table {
    font-size: 0.9rem;
    overflow-x: auto;
  }

  /* Responsive styles for smaller screens (phones) gallery.html*/
  #navbar-gallery {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Responsive styles for smaller screens (tablets) Index.html*/
  #hamburger {
    display: block;
  }

  #navbar ul,
  #navbar-gallery ul,
  #navbar-progress ul {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    padding: 20px;
    display: none; /* Ukryte na start */
  }

  #navbar li,
  #navbar-gallery li,
  #navbar-progress li {
    margin-bottom: 10px;
  }

  #navbar ul.show,
  #navbar-gallery ul.show,
  #navbar-progress ul.show {
    display: flex;
  }

  #logo,
  #logo-progress {
    margin-left: 2rem;
  }

  #fullscreen-title {
    font-size: 1.5rem;
    text-align: center;
    margin: 10px 0;
  }

  #fullscreen-text {
    font-size: 1rem;
    margin: 10px;
    padding: 0.5rem;
  }
  #about-us-text {
    font-size: 1rem;
  }
  #project-description {
    margin: 2rem;
    padding: 0;
  }
  #project-title {
    font-size: 1rem;
  }
  #project-text {
    font-size: 1rem;
  }

  #info-box {
    flex-direction: column;
    align-items: center;
    margin: 2rem 1rem;
    padding: 10px;
  }

  #info-box #box-left,
  #info-box #box-right {
    max-width: 100%;
  }
  #info-box #box-left {
    order: 2;
  }
  #info-box #box-right {
    order: 1;
    padding: 0;
  }

  #info-box img {
    max-width: 90%;
    margin: 0 auto;
  }

  .box-button {
    margin: 10px 0;
  }

  #expectations-container {
    margin: 3rem 1rem;
  }

  footer {
    padding: 10px;
  }

  .footer-top {
    flex-direction: column;
    align-items: center;
  }

  .footer-authors {
    flex-direction: column;
    text-align: center;
  }
  .footer-bottom {
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }

  .footer-partners {
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
  }

  /* Responsive styles for smaller screens (tablets) progress.html */
  #navbar-progress {
    padding: 2rem 0rem;
  }

  #navbar-progress ul {
    margin-right: 2rem;
  }

  #logo-progress {
    margin-left: 2rem;
  }

  #fullscreen-progress-title {
    font-size: 1.5rem;
    text-align: center;
    margin: 10px 0;
  }

  #fullscreen-progress-text {
    font-size: 1rem;
    margin: 10px;
    padding: 0.5rem;
  }
  #project-description {
    margin-top: 5rem;
    min-height: 30vh;
  }

  #project-title {
    font-size: 1rem;
  }

  #project-text {
    font-size: 1rem;
  }

  #progress-table {
    font-size: 0.9rem;
    overflow-x: auto;
  }

   /* Responsive styles for smaller screens (tablets) gallery.html */
   #navbar-gallery {
    padding: 2rem 0rem;
  }

  #navbar-gallery ul {
    margin-right: 2rem;
  }

  #logo {
    margin-left: 2rem;
  }

  #header-gallery {
    height: 15vh;
    text-align: center;
    padding: 1rem 0;
  }

  .project-title {
    font-size: 1.5rem;
  }

  .image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
  }

  .image-placeholder {
    margin: 4rem 1rem;
    text-align: center;
  }
}
