:root {
  --white-color: #fff;
  --black-color: #000;
  --primary-color: #fff;
  --primary-color-text: #fff;
  --navbar-bg-color: #fff;
  --navbar-text-color: #333;
  --navbar-hover-color: #555;
  --primary-text-color: #1c1c1c;
  --secondary-text-color: #a9a9a9;
  --white-text-color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#navbar, #navbar-progress, #navbar-gallery {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  padding: 20px 50px;
}

#logo, #logo-progress {
  margin-left: 10rem;
  font-size: 1.2rem !important;
  font-weight: bold;
  color: var(--white-text-color);
  text-decoration: none;
  display: inline-block;
}

#navbar ul, #navbar-gallery ul  {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
  margin-right: 10rem;
}

#navbar li, #navbar-gallery li {
  display: inline;
}

#navbar a, #navbar-gallery a {
  color: var(----white-text-color);
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 600;
  transition: color 0.3s ease;
}

#fullscreen-image {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../assets/hero_image.jpg") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  text-align: center;
  overflow: hidden;
}

#header-gallery {
  position: relative;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-text-color);
  text-align: center;
  overflow: hidden;
}

#fullscreen-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
#fullscreen-progress-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#fullscreen-progress-image {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../assets/hero_progress_image.jpg") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  text-align: center;
  overflow: hidden;
}


#fullscreen-title, #fullscreen-progress-title {
  text-align: justify;
  text-justify: inter-word;
  font-size: 2rem;
  font-weight: 750;
  color: white;
  margin-bottom: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

#fullscreen-text, #fullscreen-progress-text {
  font-size: 1.2rem;
  font-weight: 250;
  line-height: 1.8;
  color: white;
  margin: 0 auto;
  max-width: 800px;
}

#fullscreen-content, #fullscreen-progress-content {
  position: relative;
  z-index: 2;
  color: var(--white-color);
}

#scroll-arrow, #scroll-progress-arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  color: var(--white-color);
  text-decoration: none;
  z-index: 3;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

#scroll-arrow:hover, #scroll-progress-arrow:hover {
  transform: translate(-50%, 10px);
}


#fullscreen-progress-title {
  text-align: justify;
  text-justify: inter-word;
  font-size: 2rem;
  font-weight: 750;
  color: white;
  margin-bottom: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

#fullscreen-progress-text {
  font-size: 1.2rem;
  font-weight: 250;
  line-height: 1.8;
  color: white;
  margin: 0 auto;
  max-width: 800px;
}

#fullscreen-progress-content {
  position: relative;
  z-index: 2;
  color: var(--white-color);
}

#scroll-progress-arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  color: var(--white-color);
  text-decoration: none;
  z-index: 3;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

#scroll-progress-arrow:hover {
  transform: translate(-50%, 10px);
}

#navbar-progress {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  padding: 20px 50px;
}

#logo-progress {
  margin-left: 10rem;
  font-size: 1.2rem !important;
  font-weight: bold;
  color: var(--white-text-color);
  text-decoration: none;
  display: inline-block;
}

#navbar-progress ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
  margin-right: 10rem;
}

#navbar-progress li {
  display: inline;
}

#navbar-progress a {
  color: var(----white-text-color);
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 600;
  transition: color 0.3s ease;
}


#about-us {
  text-align: center;
  padding: 50px 20px;
  margin: 40px auto;
  max-width: 900px;
}

#about-us-title {
  font-size: 1.2rem;
  font-weight: 450;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#about-us-text {
  font-size: 1.3rem;
  line-height: 1.8;
  color: var(--primary-text-color);
  margin: 0 auto;
  max-width: 800px;
  font-weight: 400;
}

#destinations {
  padding: 0;
  min-height: 15rem;
  overflow: hidden; 
  position: relative;
}

.gallery-mainpage {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(20, 400px);
  grid-template-rows: 1fr;
  grid-column-gap: 1rem;
  overflow-x: scroll; 
  -ms-overflow-style: none;
  scrollbar-width: none; 
  overflow-y: hidden;
  height: auto;
  scroll-snap-type: x mandatory;
  scroll-padding: 1rem;
  box-sizing: border-box;
}

.gallery-mainpage::-webkit-scrollbar {
  display: none; 
}

.gallery-mainpage li{
  list-style: none;
}
.gallery-mainpage img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 3px;
}
.gallery-mainpage img:hover{
  cursor: pointer;
}

.active {
  scroll-snap-type: unset;
}


#project-description {
  padding: 0 20px;
  margin: 40px;
  min-height: 60vh;

}
.project-title {
  font-size: 1.2rem;
  font-weight: 450;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
}

#project-text {
  font-size: 1.2rem;
  line-height: 1.8;
  color: var(--primary-text-color);
  margin: 0 auto 20px auto;
  font-weight: 400;
  text-align: left;
}


#project-description table {
  border-collapse: collapse;
  margin-top: 20px;
  width: 95%;
}

#project-description table td,th {
  padding: 5px;
  font-weight: normal;
  text-align: center;
}

.image-grid {
  padding: 5px;
}

.image-row {
  display: flex;  
}

.image-row .image {
  margin: 5px;
  height: 240px;  
}

.image { 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.image-01 {
  background-image: url('./images/IMG_9174.JPG'); 
  flex: 1;  
}

.image-02 {
  background-image: url('https://images.unsplash.com/photo-1618614293875-cfe98355681d?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDN8NnNNVmpUTFNrZVF8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60'); 
  flex: 1;  
}

.image-03 {
  background-image: url('./images/IMG_8556.JPG');  
  flex: 2;  
}

.image-04 {
  background-image: url('https://images.unsplash.com/photo-1568602048381-2285db7095c6?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDI1fDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60'); 
  flex: 1;
}

.image-05 {
  background-image: url('https://images.unsplash.com/photo-1580319204908-eff9d6f0bd68?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDMxfDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=60');
  flex: 2;
}

.image-06 {
  background-image: url('https://images.unsplash.com/photo-1604927737867-9f413dac3d08?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDYwfDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');  
  flex: 2;
}

.image-07 {
  background-image: url('https://images.unsplash.com/photo-1614191663579-8780442c043b?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDk3fDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60'); 
  flex: 1;
}

.image-08 {
  background-image: url('https://images.unsplash.com/photo-1605812466869-dab071e96c35?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDExNnw2c01WalRMU2tlUXx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=60');  
  flex: 3;
}

.image-09 {
  background-image: url(' https://images.unsplash.com/photo-1617292801457-b108c1672a3d?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDExMnw2c01WalRMU2tlUXx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');  
  flex: 1;
}

.image-10 {
  background-image: url('https://images.unsplash.com/photo-1616724319135-2370dbb4424c?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDE2Nnw2c01WalRMU2tlUXx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60'); 
  flex: 1;
}

.image-11 {
  background-image: url('https://images.unsplash.com/photo-1616418672515-1c2b39e219d3?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDE5N3w2c01WalRMU2tlUXx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60'); 
  flex: 1;
}

.image-12 {
  background-image: url('https://images.unsplash.com/photo-1548164806-9709e698bfc8?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDIzOHw2c01WalRMU2tlUXx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60'); 
  flex: 1;
}

@media screen and (max-width: 400px) {
  .image-row {
    flex-direction: column;
  }
  
  .image-row .image {
    flex-basis: auto;
  }
}